.fee_header{
    justify-content: center;
    justify-content: space-around;
    width:900px;
    margin-top:10px;
    margin-bottom: 10px;
    font-family: cursive;

}
.fee_main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1;
}
table th{
    padding: 5px;
    background: rgb(255, 100, 100);

}
table td{
    padding:18px;
}
@media screen and (max-width:698px) {
    html{
        size: 55%;
    }
    
}