.office_leader{
    background:url("https://i.pinimg.com/originals/22/a5/a7/22a5a7b9dbc0e29ccef006dea5981367.png");
    background-repeat: no-repeat;
    margin-bottom: 20px;
}.office_main{
  height:500px;
  margin-left: 300px;
  flex:1 1;

}
.h_32{
     margin-top: -18px; 
}
.text{
    width:800px;
    height:250px;
    background:rgb(237, 237, 245);
    border-radius: 15px;
    display: flex;
    padding: 15px;
}
.query1,.query2{
    margin-top: 15px;
}
p{
    font-family:monospace;
}